# /etc/systemd/network/usb0.network                                                                                 :(
[Match]
Name=usb0

[Network]
DHCP=ipv4
